plugin/intelliLang/testData/* linguist-vendored
plugin/testData/* linguist-vendored
plugin/profiler/testData/* linguist-vendored
mason2/testData/* linguist-vendored
testData/* linguist-vendored
embedded/testData/* linguist-vendored
htmlmason/testData/* linguist-vendored
mojo/testData/* linguist-vendored
tt2/testData/* linguist-vendored
