.gradle/
.sandbox*
build/
out/
classes/
gen/
core/testData/controlFlow/perl/svg/
*.iml
.idea/*.xml
.idea/modules/
.idea/libraries/
.idea/scopes/
.idea/inspectionProfiles/
.idea/.name
testData/controlFlow/perl/svg/
tmp/
temp/
icons/*.psd
testData/controlFlow/perl/svg