# https://github.com/github/linguist/blob/master/docs/overrides.md
**/src/test/resources/** linguist-vendored
**/build/** linguist-vendored
testData/** linguist-vendored
perl-utils/** linguist-vendored
