# reusable workflow for building and uploading plugins
# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle
name: Plugins

on:
  workflow_call:

jobs:
  build-plugins:
    name: Build
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_downloadIdeaSources: false
      CI: GitHub
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: true

      - name: Build plugins
        run: |
          ./gradlew buildPlugin --console plain

      - name: Upload Plugins
        uses: actions/upload-artifact@v4
        with:
          name: plugins
          path: |
            ./plugin/build/distributions/*.zip
            ./embedded/build/distributions/*.zip
            ./mason/core/build/distributions/*.zip
            ./mason/mason2/build/distributions/*.zip
            ./mason/htmlmason/build/distributions/*.zip
            ./mojo/build/distributions/*.zip
            ./tt2/build/distributions/*.zip
